body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.btn-container {
    text-align: right;
    margin-bottom: 20px;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.imageFile {
    width:
        100px;
    height:
        50px;
    object-fit:
        cover;
    object-position:
        50% 50%;
}



th {
    background-color: #f2f2f2;
}

.btn-primary {
    margin-right: 5px;
    color: white;
    background-color: blue;
    border: solid;
    border-radius: 12px;
    padding: 10px 10px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}