body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f8f9fa;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
    list-style: none;
}

.pagination li a {
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
}

.pagination li.active a {
    background-color: #007bff;
    color: #fff;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.btn-container {
    text-align: right;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.imageFile {
    width: 100px;
    height: 50px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 8px;
}

th {
    background-color: #f2f2f2;
}

.btn-primary {
    margin-right: 5px;
    color: white;
    background-color: #3f51b5;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #303f9f;
}

.custom-button {
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #303f9f;
}

.login-btn {
    display: flex;
    justify-content: space-between;
}

.button-group {
    flex: -1;
    margin-right: 10px; /* Adjust margin as needed */
}